#Image{
    margin-top: 2px;
    margin-left: 6px;
    width: 10rem;
    height: 2rem;
    animation: slide 0.7s;
}
.maindiv{
    width: inherit;
    background-size: cover;
    margin: 0;
    height: 35px;
    display: flex;
    background-color: rgb(255, 119, 0); /**** rgb(255, 119, 0) ********/

}
.body{
    margin: 15px auto 0 auto;
    text-align: center;
   width: 50%;
}
.body h1{
    margin: 0;
}
.Signup{
    
    border-radius: 5px;
    background-color: rgb(179, 95, 0);
}
.Signup:hover{

    color: rgb(0, 0, 0);
}
.Details ul{
    position: absolute;
    top: 6px;
    margin: 0;
    left: 62%;
    text-decoration: none;
    list-style: none;
    display:flex;
    flex-wrap:nowrap ;

}
.Details ul li{
    padding: 3px 20px 4px 20px;
}

.Details ul li:hover{
    scale: 105%;
}
@keyframes slide{
    0%{
        opacity: 0%;
        transform:translateY(-100%);
    }
    100%{
      transform: translatey(0%);
    }
}
body{
    width: 100%;
    margin: 0;
    background-color: rgb(22, 22, 22);
    color: aliceblue;
}